<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="caixa cadastro">

        <h1>Cadastro Simples</h1>

        <p class="explicacao">
            Preencha os campos abaixo. Alguns podem não ser necessários.
        </p>

        {% if erro %}
            <div class="erro">
                {{ erro }}
            </div>
        {% endif %}

        <form method="POST">

            <label>Nome que você gostaria de usar:</label>
            <input type="text" name="nome">

            <label>Seu endereço eletrônico:</label>
            <input type="email" name="email">

            <label>Senha secreta obrigatoriamente opcional:</label>
            <input type="password" name="senha">

            <p class="aviso">
                A senha deve possuir pelo menos 8 caracteres.
                Ou não.
            </p>

            <div class="botoes">

                <a href="{{ url_for('inicio') }}" class="cancelar">
                    CANCELAR
                </a>

                <button type="submit" class="avancar">
                    talvez continuar
                </button>

            </div>

        </form>

    </div>

</body>
</html>